@font-face{
    font-family: SolaimanLipi;
    font-style: normal;
    font-weight: 400;
    src:url(https://cdn.dhakapost.com/assets/common/fonts/SolaimanLipi.eot) format("embedded-opentype"),url(https://cdn.dhakapost.com/assets/common/fonts/SolaimanLipi.woff) format("woff"),url(https://cdn.dhakapost.com/assets/common/fonts/SolaimanLipi.ttf) format("truetype"),url(https://cdn.dhakapost.com/assets/common/fonts/SolaimanLipi.svg) format("svg");
    font-display: swap;
}